# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
db.sqlite3
/media
/static
.venv/
env/
venv/
ENV/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor/OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
*.log
